extends layout

block content
    h1 The number of parents is #{parents.length}
    h4 the first parent is #{parents[0].name}
    each parent in parents 
     h4 #{parent.id} #{parent.name} #{parent.surname} #{parent.schoolkidsID}
